# Ignore the following folders

_site/
.DS_Store
*.DS_Store
_drafts
.sass-cache
Gemfile.lock
node_modules
.jekyll-cache
/vendor
package.json
package-lock.json
Gruntfile.js

# Added for files produced during Latex compilation

*.aux
*.log
*.out
*.gz
