/* CSS Layout */

html, body {
    margin:0;
    height:100%;
    min-height:100%;
    padding:0;
    font-family: "Arial";
    font-size: 13px;
    color: #555;    
}

body {
   display: flex;
   display: -webkit-flex;
   margin:0;
   flex-direction: column;
   -webkit-flex-direction: column;
}

/* Header */

header {
  display:-webkit-flex;
  display: flex;
  min-height: 35px;
  padding:10px;
}

/* Header -> Logo */

header > a {
     text-indent:20px;
     font-size: 1.9em;
     font-weight:bold;
     text-transform: uppercase; 
     text-align: left;
     text-shadow: 1px 2px 2px #ddd;
     text-decoration: none;     
}

header > a:link,
header > a:hover,
header > a:visited {
           color: #343434;
}

/* Navigation */

nav {
  display:-webkit-flex;
  display: flex;
  width:100%;
  min-height: 40px;
  background:#CCCCCC;
  font-size: 1.2em;
  font-family: "Arial";
}

nav > a {
  font-family:Helvetica,Arial,sans-serif;
  text-decoration:none;
  padding:10px;
  text-align:center;
  width: 100px
  background-color: #CCCCCC; 
  color: #141414;
}

nav > a:hover {background-color: #CCCCCC; color: #ffffff;}
nav > a:link  {text-decoration: none;}


/* Overide "user agent layout" */

h2 { 
   margin: 10px;
   font-size: 1.3em;
   font-family: "Arial";  
}

h3 {
   margin: 10px;
   font-size: 1.0em;
   font-family: "Arial";
}

p {
   margin: 10px;
   font-size: 1.1em;
   font-family: "Arial";
}

a {
   text-decoration: none;
   color: black; 
}


/* Post */

.post {
  flex: 8;
  overflow-y: scroll;
  text-align: left;
}

.post p {
   margin: 10px;
   font-size: 1.1em;
   font-family: "Arial";
}

.post h1 {
   margin: 10px;
   font-size: 1.3em;
   font-family: "Arial";
}

.post h2 {
   margin: 10px;
   font-size: 1.0em;
   font-family: "Arial";

}

/* Archive */

.archive tr {
      font-size: 1.3em;
      white-space: pre-line;
      vertical-align:text-top;
      text-align:left;
}

.archive th {
   font-size: 0.8em;
   font-family: "Arial";
}

.archive a {
   font-size: 1.2em;
   text-decoration: none;
   color: inherit;
}


/* About */

.about {
  flex: 8;
  overflow-y: scroll;
  text-align: left;
}

.about h2 {
  font-size: 1.0em;
  font-family: "Arial";
}

.about a {
     text-decoration:none;
     color: black;
}

/* Footer */

footer {
  flex: 0;
  text-align: center;
  color: #343434;
}

footer > a {
  text-decoration: none;
  color: black; 
}




