/* CSS Layout */

/* Note - Removed <body> */

html {
    margin:0;
    height:100%;
    min-height:100%;
    padding:0;
    font-family: "Arial";
    font-size: 13px;
    color: #555;    
}


.wrapper {
   display: flex;
   display: -webkit-flex;
   min-height: 100vh;
   flex-direction: column;
   -webkit-flex-direction: column;
}

.wrapper-content {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;

}

/* Header */

header {
  display:-webkit-flex;
  display: flex;
  min-height: 35px;
  padding:10px;
}

/* Header -> Logo */

header > a {
     text-indent:20px;
     font-size: 1.9em;
     font-weight:bold;
     text-transform: uppercase; 
     text-align: left;
     text-shadow: 1px 2px 2px #ddd;
     text-decoration: none;     
}

header > a:link,
header > a:hover,
header > a:visited {
           color: #343434;
}

/* Navigation */

nav {
  display:-webkit-flex;
  display: flex;
  width:100%;
  min-height: 40px;
  background:#CCCCCC;
  font-size: 1.2em;
  font-family: "Arial";
}

nav > a {
  font-family:Helvetica,Arial,sans-serif;
  text-decoration:none;
  padding:10px;
  text-align:center;
  width: 100px
  background-color: #CCCCCC; 
  color: #141414;
}

nav > a:hover {background-color: #CCCCCC; color: #ffffff;}
nav > a:link  {text-decoration: none;}


h1 {
   margin: 10px;
   font-size: 1.3em;
   font-family: "Arial";
}


h2 { 
   margin: 10px;
   font-size: 1.3em;
   font-family: "Arial";  
}

p {
   margin: 10px;
   font-size: 1.1em;
   font-family: "Arial";
}

/* Test Section */

ul {

   margin-left: -15px;
   font-size: 1.1em;
   font-family: "Arial";
}

a {
   text-decoration: none;
   color: #0000FF; 
}

img {
     display: block;
     margin: 0 auto;
     margin-bottom: auto;
     margin-top: auto;
     width: 50%;
     height: 70%;
     max-width: 300px;
}

/* added to improve format when centering text */

center {
 
   font-size: 1.1em;
   font-family: "Arial";  

}


/* added for tables */

/*
.post_table table, th, td {
   font-size: 1.0em;
   font-family: "Arial";
   width: 40%;
}


.post_table th, td {
    padding: 5px;
    text-align: center;
}
*/

.post_table table {

    text-align: center;

}

/* Post */

.post {
  -webkit-flex: 8;
  flex: 8;
  overflow-y: scroll;
  text-align: left;
}

.post p {
   margin: 10px;
   font-size: 1.1em;
   font-family: "Arial";
}

.post h1 {
   margin: 10px;
   font-size: 1.3em;
   font-family: "Arial";
}

.post h2 {
   margin: 10px;
   font-size: 1.0em;
   font-family: "Arial";

}

/* Archive */

.archive tr {
      font-size: 1.3em;
      white-space: pre-line;
      vertical-align:text-top;
      text-align:left;
}

.archive th {
   font-size: 0.8em;
   font-family: "Arial";
}

.archive a {
   font-size: 1.2em;
   text-decoration: none;
   color: inherit;
}

/* About */

.about {
  flex: 8;
  overflow-y: scroll;
  text-align: left;
}

.about h2 {
  font-size: 1.0em;
  font-family: "Arial";
}

.about a {
     text-decoration:none;
     color: black;
}

/* Footer */

footer {
  text-align: center;
  color: #343434;
}

footer > a {
  text-decoration: none;
  color: black; 
}

/* embedded videos */

.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    border-style: solid;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* Poems */
  
.poemwrapper {
   margin: auto;
   padding: 20px 0;
   text-align: left; 
   width: 430px;
}

.poemwrapper h1 h2 {
    font-weight: normal;
    text-align: center;
}    

.poemwrapper h1 {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 10px;
}

.poemwrapper h2 {
    font-size: 15px;
    font-style: italic;
    margin-bottom: 10px;
    color: #666;
}

.poemwrapper p {
    line-height: 1.5;
    margin-bottom: 1.5px;
}


/* Quotes */

.quotewrapper {
  -webkit-flex: 8;
  flex: 8;
  overflow-y: scroll;
  text-align: left;
  margin: 20px;

}

/* Signature */

.signature {

  text-align: right;
  margin: 25px;
  font-size: 15px;

}

/* Line Spacing for an Ordered List */

.orderedlist {
   margin-left: 0px;
   font-size: 1.1em; 
   font-family: "Arial"; 
}   

.orderedlist ol {
/* to be used when required */
}

.orderedlist li {
   margin: 10px 0; 
}


*/
/* Media Query */

@media only screen and (max-width : 640px) {

/* To do */

header {

/* the following switches the logo off - display: none; */

}

/* manage table size on a mobile device */

/*

table, th, td {
   font-size: 1.0em;
   font-family: "Arial";
   width: 70%;
}


th, td {
    padding: 5px;
    text-align: center;
}

*/


} /* end of Media Query */

