---
sitemap: false
---

/*
 *
 *  HPSTR
 *
 *  Designer: Michael Rose
 *  Twitter: http://twitter.com/mmistakes
 *
*/

// Partials
@import "variables";
@import "mixins";
@import "reset";
@import "vendor/font-awesome/font-awesome";
@import "vendor/magnific-popup/magnific-popup";
@import "site";
@import "typography";
@import "syntax";
// @import "coderay";
@import "grid";
@import "elements";
@import "animations";
@import "dl-menu";
@import "page";

/* Quotes */

.quotewrapper {
  -webkit-flex: 8;
  flex: 8;
  overflow-y: scroll;
  text-align: left;
  margin: 20px;

}

.quotewrapper span {
      padding-left: 2em;
}

 .quotewrapper p {
    line-height: 1.5;
    margin-bottom: 1.5px;
}

/* Poems */

.poemwrapper {
   margin: auto;
   padding: 20px 0;
   text-align: left;
   width: 430px;
}

.poemwrapper h1 h2 {
    font-weight: normal;
    text-align: center;
}

.poemwrapper h1 {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 10px;
}

.poemwrapper h2 {
    font-size: 15px;
    font-style: italic;
    margin-bottom: 10px;
    color: #666;
}

.poemwrapper p {
    line-height: 1.5;
    margin-bottom: 1.5px;
}
