/* CSS Style */


.logo {
     text-indent:40px;
     font-size: 3.0em;
     text-transform: uppercase; 
     color: #343434;
     text-align: left;
     text-shadow: 1px 2px 2px #ddd;
}

.logo a:link,
.logo a:hover,
.logo a:visited {
     color: #343434;
     text-decoration: none;
}

.button		{background-color: #CCCCCC; color: #141414;}
.button:hover	{background-color: #CCCCCC; color: #ffffff;}
.button:link  {text-decoration: none;}


.content {
   text-indent: 0px;
   text-align: left;
}   



.foot {
   font-size: 15px;
   text-align: center;
   color: #343434;
} 

.foot a {

   text-decoration: none;

} 

.post h1 {

     font-size: 0.9em;
}

.post_archive tr {

      font-size: 1.3em;
      white-space: pre-line;
      vertical-align:text-top;
}

.post_archive a {
   text-decoration: none;
}


p { 
   font-size: 1.2em;   
} 

p a {

   text-decoration: none;
}   

  
