---
layout: default 
title: General Blog
---

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Notebook</title>
  <meta name="description" content="Notebook">
  <meta name="keywords" content="Wittgenstein,Mathematics,Computer Science">
  <meta name="author" content="David Black">
  <link rel="stylesheet" href="/assets/css/layout.css"/>
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/assets/images/apple-icon-57x57.png" />
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/assets/images/apple-icon-76x76.png" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/images/apple-icon-120x120.png" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/images/apple-icon-152x152.png" />  
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-40540469-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
 <body>
  {% include header.html %}
  {% include menu.html %}
  <div>
     {{ content }}
  </div>  
  {% include footer.html %}
 </body>
</html>  